# Part1: Reading Indicators from World Bank DataCatalog

In [1]:
# Import modules
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [3]:
#---- Reading data sets ---- World Bank Indicators
# loading csv file of development indicators as dataframe
indicators_df = pd.read_csv('../Resources/WDIData.csv')
# get rid off spaces in column names
indicators_df.columns =[column.replace(" ", "") for column in indicators_df.columns]
indicators_df.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed:65
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN,NaN
3,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.303599,66.496010,65.828988,66.926692,68.722184,71.085418,71.994933,73.589886,NaN,NaN
4,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#----Cleaning the dataframe to keep only our information of interest--
# list of development indicators to keep from the entire df
indicators = ['GDP per capita, PPP (current international $)', 'GNI per capita, PPP (current international $)',
              'Population, total', 'Physicians (per 1,000 people)', 'Suicide mortality rate (per 100,000 population)']

# reading country codes file, saved from World Bank Website
country_codes = pd.read_csv('../Resources/CountryCodes.csv')
# Keep only rows with actual data
country_codes = country_codes.dropna()
# Keep only rows with country codes
e_row = country_codes.index[country_codes['Country_Name'] == 'World'].tolist()
country_codes = country_codes.drop(e_row)
# convert the country codes as a list 
countries  = country_codes.ISO3.tolist()

# filtering the dataframe to keep only information corresponding to all the countries and the chosen indicators
indicators_df.query('IndicatorName == @indicators & CountryCode == @countries', inplace = True)
indicators_df.head(10)

,CountryName,CountryCode,IndicatorName,IndicatorCode,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed:65
71182,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.914774e+03,2.015515e+03,2.069424e+03,2.087305e+03,1.981118e+03,2.058400e+03,2.082636e+03,2.152366e+03,2.077875e+03,NaN
71208,Afghanistan,AFG,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.920000e+03,2.020000e+03,2.070000e+03,2.110000e+03,2.000000e+03,2.090000e+03,2.100000e+03,2.190000e+03,2.100000e+03,NaN
71694,Afghanistan,AFG,"Physicians (per 1,000 people)",SH.MED.PHYS.ZS,0.035,NaN,NaN,NaN,NaN,0.063,...,2.414000e-01,2.846000e-01,2.983000e-01,2.850000e-01,2.782000e-01,NaN,NaN,NaN,NaN,NaN
71767,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.000,9169406.0,9351442.0,9543200.0,9744772.0,9956318.000,...,3.116138e+07,3.226959e+07,3.337080e+07,3.441360e+07,3.538303e+07,3.629611e+07,3.717192e+07,3.804176e+07,3.892834e+07,NaN
71988,Afghanistan,AFG,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000000e+00,4.000000e+00,3.900000e+00,4.000000e+00,4.000000e+00,4.100000e+00,4.100000e+00,4.100000e+00,NaN,NaN
72625,Albania,ALB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.052632e+04,1.057097e+04,1.125930e+04,1.165887e+04,1.207880e+04,1.277097e+04,1.355490e+04,1.433677e+04,1.389993e+04,NaN
72651,Albania,ALB,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.045000e+04,1.075000e+04,1.136000e+04,1.180000e+04,1.227000e+04,1.280000e+04,1.354000e+04,1.415000e+04,1.367000e+04,NaN
73137,Albania,ALB,"Physicians (per 1,000 people)",SH.MED.PHYS.ZS,0.276,NaN,NaN,NaN,NaN,0.481,...,1.268300e+00,1.277300e+00,NaN,NaN,1.216400e+00,NaN,2.158400e+00,1.647100e+00,NaN,NaN
73210,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.000,1659800.0,1711319.0,1762621.0,1814135.0,1864791.000,...,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06,2.866376e+06,2.854191e+06,2.837743e+06,NaN
73431,Albania,ALB,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,5.200000e+00,5.300000e+00,5.000000e+00,4.800000e+00,4.700000e+00,4.700000e+00,4.500000e+00,4.300000e+00,NaN,NaN

In [5]:
# Now we need to filter out the years.  We are going to make an analysis from 1990-2019
years_to_keep = [str(i) for i in range(1990,2020)]
columns_to_keep = ['CountryName','CountryCode','IndicatorName'] + years_to_keep
# final indicators from World Bank DataCatalog
features_df = indicators_df[columns_to_keep]
features_df

,CountryName,CountryCode,IndicatorName,1990,1991,1992,1993,1994,1995,1996,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
71182,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.710575e+03,1.699488e+03,1.914774e+03,2.015515e+03,2.069424e+03,2.087305e+03,1.981118e+03,2.058400e+03,2.082636e+03,2.152366e+03
71208,Afghanistan,AFG,"GNI per capita, PPP (current international $)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.710000e+03,1.700000e+03,1.920000e+03,2.020000e+03,2.070000e+03,2.110000e+03,2.000000e+03,2.090000e+03,2.100000e+03,2.190000e+03
71694,Afghanistan,AFG,"Physicians (per 1,000 people)",1.090000e-01,NaN,NaN,1.430000e-01,NaN,NaN,NaN,...,2.365000e-01,2.518000e-01,2.414000e-01,2.846000e-01,2.983000e-01,2.850000e-01,2.782000e-01,NaN,NaN,NaN
71767,Afghanistan,AFG,"Population, total",1.241231e+07,1.329902e+07,1.448554e+07,1.581660e+07,1.707573e+07,1.811066e+07,1.885344e+07,...,2.918551e+07,3.011741e+07,3.116138e+07,3.226959e+07,3.337080e+07,3.441360e+07,3.538303e+07,3.629611e+07,3.717192e+07,3.804176e+07
71988,Afghanistan,AFG,"Suicide mortality rate (per 100,000 population)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.300000e+00,4.100000e+00,4.000000e+00,4.000000e+00,3.900000e+00,4.000000e+00,4.000000e+00,4.100000e+00,4.100000e+00,4.100000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382870,Zimbabwe,ZWE,"GDP per capita, PPP (current international $)",1.772611e+03,1.888917e+03,1.722390e+03,1.750874e+03,1.924102e+03,1.941866e+03,2.157621e+03,...,1.830827e+03,2.101824e+03,2.375927e+03,2.560773e+03,2.612456e+03,2.679508e+03,2.806469e+03,3.795642e+03,4.017222e+03,3.783548e+03
382896,Zimbabwe,ZWE,"GNI per capita, PPP (current international $)",1.740000e+03,1.850000e+03,1.680000e+03,1.710000e+03,1.870000e+03,1.890000e+03,2.110000e+03,...,1.810000e+03,2.070000e+03,2.340000e+03,2.520000e+03,2.570000e+03,2.630000e+03,2.750000e+03,3.730000e+03,3.950000e+03,3.710000e+03
383382,Zimbabwe,ZWE,"Physicians (per 1,000 people)",1.265000e-01,NaN,NaN,NaN,NaN,1.428000e-01,NaN,...,1.272000e-01,8.170000e-02,8.070000e-02,8.340000e-02,1.240000e-01,1.815000e-01,1.788000e-01,1.859000e-01,2.096000e-01,NaN
383455,Zimbabwe,ZWE,"Population, total",1.043241e+07,1.068101e+07,1.090051e+07,1.109278e+07,1.126175e+07,1.141072e+07,1.154122e+07,...,1.269773e+07,1.289432e+07,1.311515e+07,1.335038e+07,1.358671e+07,1.381464e+07,1.403034e+07,1.423660e+07,1.443881e+07,1.464547e+07
383676,Zimbabwe,ZWE,"Suicide mortality rate (per 100,000 population)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.150000e+01,2.070000e+01,1.970000e+01,1.860000e+01,1.820000e+01,1.800000e+01,1.680000e+01,1.500000e+01,1.400000e+01,1.410000e+01

In [6]:
# Reshape the tables such that the indicators will be columns and the years will be rows
# Convert Years columns (1990-2019) of features dataframe(WB Indicators) to Rows
df = features_df.melt(id_vars = ["CountryName", "CountryCode", "IndicatorName"], var_name="Year", value_name="Value")
# Convert Indicators Rows to Columns using Pivot Table
df_pivot = df.pivot_table('Value',['CountryName','CountryCode','Year'],'IndicatorName')
# Convert Multindex pivot table to a dataframe again 
features_df = pd.DataFrame(df_pivot.to_records())
features_df

,CountryName,CountryCode,Year,"GDP per capita, PPP (current international $)","GNI per capita, PPP (current international $)","Physicians (per 1,000 people)","Population, total","Suicide mortality rate (per 100,000 population)"
0,Afghanistan,AFG,1990,NaN,NaN,0.1090,12412311.0,NaN
1,Afghanistan,AFG,1991,NaN,NaN,NaN,13299016.0,NaN
2,Afghanistan,AFG,1992,NaN,NaN,NaN,14485543.0,NaN
3,Afghanistan,AFG,1993,NaN,NaN,0.1430,15816601.0,NaN
4,Afghanistan,AFG,1994,NaN,NaN,NaN,17075728.0,NaN
...,...,...,...,...,...,...,...,...
6112,Zimbabwe,ZWE,2015,2679.507615,2630.0,0.1815,13814642.0,18.0
6113,Zimbabwe,ZWE,2016,2806.469032,2750.0,0.1788,14030338.0,16.8
6114,Zimbabwe,ZWE,2017,3795.642431,3730.0,0.1859,14236599.0,15.0
6115,Zimbabwe,ZWE,2018,4017.221716,3950.0,0.2096,14438812.0,14.0
6116,Zimbabwe,ZWE,2019,3783.547898,3710.0,NaN,14645473.0,14.1

In [7]:
print(features_df.dtypes)
features_df['Year'] = features_df['Year'].astype(int)
print(f"After change of data type: {features_df.dtypes}")

CountryName                                         object
CountryCode                                         object
Year                                                object
GDP per capita, PPP (current international $)      float64
GNI per capita, PPP (current international $)      float64
Physicians (per 1,000 people)                      float64
Population, total                                  float64
Suicide mortality rate (per 100,000 population)    float64
dtype: object
After change of data type: CountryName                                         object
CountryCode                                         object
Year                                                 int64
GDP per capita, PPP (current international $)      float64
GNI per capita, PPP (current international $)      float64
Physicians (per 1,000 people)                      float64
Population, total                                  float64
Suicide mortality rate (per 100,000 population)    float64
dtype: object

# Reading Human Development Index from UN Website

In [9]:
import pandas as pd
import numpy as np
# loading csv file of development indicators as dataframe
hdi_df = pd.read_csv('../Resources/HumanDevelopmentIndex (HDI).csv', sep=',')
# get rid off spaces in column names
hdi_df.columns =[column.replace(" ", "") for column in hdi_df.columns]
hdi_df = hdi_df.dropna(how='all', axis=1)
hdi_df

,HDIRank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,169,Afghanistan,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,...,0.472,0.477,0.489,0.496,0.500,0.500,0.502,0.506,0.509,0.511
1,69,Albania,0.650,0.631,0.615,0.618,0.624,0.637,0.646,0.645,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
2,91,Algeria,0.572,0.576,0.582,0.586,0.590,0.595,0.602,0.611,...,0.721,0.728,0.728,0.729,0.736,0.740,0.743,0.745,0.746,0.748
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
4,148,Angola,..,..,..,..,..,..,..,..,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528,0.538
203,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723,0.728
204,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895,0.900
205,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731,0.737
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
hdi_df["Country"] = hdi_df["Country"].str.strip()
hdi_df["Country"].values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo',
       'Congo (Democratic Republic of the)', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czechia', "Cï¿½te d'Ivoire", 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini (Kingdom of)', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong, China (SAR)', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea (Republic of)', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Moldova (Republic of)', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine, State of',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan',
       'Tanzania (United Republic of)', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Yemen', 'Zambia', 'Zimbabwe', 'Human Development',
       'Very high human development', 'High human development',
       'Medium human development', 'Low human development',
       'Developing Countries', 'Regions', 'Arab States',
       'East Asia and the Pacific', 'Europe and Central Asia',
       'Latin America and the Caribbean', 'South Asia',
       'Sub-Saharan Africa', 'Least Developed Countries',
       'Small Island Developing States',
       'Organization for Economic Co-operation and Development', 'World',
       nan], dtype=object)

In [11]:
last_i = hdi_df.index[hdi_df['Country'] == 'Zimbabwe'].tolist()
hdi_df = hdi_df.iloc[0:last_i[0]+1]
hdi_df

,HDIRank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,169,Afghanistan,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,...,0.472,0.477,0.489,0.496,0.500,0.500,0.502,0.506,0.509,0.511
1,69,Albania,0.650,0.631,0.615,0.618,0.624,0.637,0.646,0.645,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
2,91,Algeria,0.572,0.576,0.582,0.586,0.590,0.595,0.602,0.611,...,0.721,0.728,0.728,0.729,0.736,0.740,0.743,0.745,0.746,0.748
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
4,148,Angola,..,..,..,..,..,..,..,..,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,113,Venezuela (Bolivarian Republic of),0.644,0.654,0.660,0.662,0.662,0.666,0.668,0.670,...,0.757,0.769,0.772,0.777,0.775,0.769,0.759,0.743,0.733,0.711
185,117,Viet Nam,0.483,0.493,0.504,0.514,0.525,0.537,0.548,0.547,...,0.661,0.671,0.676,0.681,0.683,0.688,0.693,0.696,0.700,0.704
186,179,Yemen,0.401,0.401,0.404,0.406,0.408,0.414,0.421,0.426,...,0.506,0.506,0.504,0.509,0.502,0.483,0.474,0.467,0.468,0.470
187,146,Zambia,0.421,0.417,0.416,0.419,0.414,0.415,0.416,0.416,...,0.527,0.534,0.549,0.557,0.561,0.569,0.571,0.578,0.582,0.584
188,150,Zimbabwe,0.478,0.481,0.467,0.463,0.460,0.453,0.453,0.447,...,0.482,0.499,0.525,0.537,0.547,0.553,0.558,0.563,0.569,0.571

In [12]:
hdi_df = hdi_df.melt(id_vars=['Country','HDIRank'], var_name = "Year", value_name = "HDI")
hdi_df

                                 Country HDIRank  Year    HDI
0                            Afghanistan     169  1990  0.302
1                                Albania      69  1990  0.650
2                                Algeria      91  1990  0.572
3                                Andorra      36  1990     ..
4                                 Angola     148  1990     ..
...                                  ...     ...   ...    ...
5665  Venezuela (Bolivarian Republic of)     113  2019  0.711
5666                            Viet Nam     117  2019  0.704
5667                               Yemen     179  2019  0.470
5668                              Zambia     146  2019  0.584
5669                            Zimbabwe     150  2019  0.571

[5670 rows x 4 columns]

In [13]:
print(hdi_df.dtypes)
hdi_df.rename({'Country': 'CountryName'}, axis = 'columns', inplace = True )
hdi_df['HDIRank'] = hdi_df['HDIRank'].astype(int)
hdi_df['Year'] = hdi_df['Year'].astype(int)
hdi_df['HDI'] = hdi_df['HDI'].replace('..',np.nan)
hdi_df['HDI'] = hdi_df['HDI'].astype(float)
print(f"after data type chage: {hdi_df.dtypes}")

Country    object
HDIRank    object
Year       object
HDI        object
dtype: object
after data type chage: CountryName     object
HDIRank          int64
Year             int64
HDI            float64
dtype: object

## Joining the two data sets

In [14]:
features_df.dtypes

CountryName                                         object
CountryCode                                         object
Year                                                 int64
GDP per capita, PPP (current international $)      float64
GNI per capita, PPP (current international $)      float64
Physicians (per 1,000 people)                      float64
Population, total                                  float64
Suicide mortality rate (per 100,000 population)    float64
dtype: object

In [15]:
hdi_df.dtypes

CountryName     object
HDIRank          int64
Year             int64
HDI            float64
dtype: object

In [16]:
df_merge = pd.merge(features_df, hdi_df, on = ["CountryName", "Year"])
#aux_1.join(aux_2, on=["CountryName","Year"])

In [17]:
print(df_merge.dtypes)
df_merge

CountryName                                         object
CountryCode                                         object
Year                                                 int64
GDP per capita, PPP (current international $)      float64
GNI per capita, PPP (current international $)      float64
Physicians (per 1,000 people)                      float64
Population, total                                  float64
Suicide mortality rate (per 100,000 population)    float64
HDIRank                                              int64
HDI                                                float64
dtype: object

,CountryName,CountryCode,Year,"GDP per capita, PPP (current international $)","GNI per capita, PPP (current international $)","Physicians (per 1,000 people)","Population, total","Suicide mortality rate (per 100,000 population)",HDIRank,HDI
0,Afghanistan,AFG,1990,NaN,NaN,0.1090,12412311.0,NaN,169,0.302
1,Afghanistan,AFG,1991,NaN,NaN,NaN,13299016.0,NaN,169,0.307
2,Afghanistan,AFG,1992,NaN,NaN,NaN,14485543.0,NaN,169,0.316
3,Afghanistan,AFG,1993,NaN,NaN,0.1430,15816601.0,NaN,169,0.312
4,Afghanistan,AFG,1994,NaN,NaN,NaN,17075728.0,NaN,169,0.307
...,...,...,...,...,...,...,...,...,...,...
4762,Zimbabwe,ZWE,2015,2679.507615,2630.0,0.1815,13814642.0,18.0,150,0.553
4763,Zimbabwe,ZWE,2016,2806.469032,2750.0,0.1788,14030338.0,16.8,150,0.558
4764,Zimbabwe,ZWE,2017,3795.642431,3730.0,0.1859,14236599.0,15.0,150,0.563
4765,Zimbabwe,ZWE,2018,4017.221716,3950.0,0.2096,14438812.0,14.0,150,0.569
4766,Zimbabwe,ZWE,2019,3783.547898,3710.0,NaN,14645473.0,14.1,150,0.571

In [18]:
# Reorganize order of columns and rename some of them
cols = ['Year','CountryCode','CountryName', 'GDP per capita, PPP (current international $)','GNI per capita, PPP (current international $)',
        'Physicians (per 1,000 people)','Population, total', 'Suicide mortality rate (per 100,000 population)', 'HDIRank','HDI']
df_merge = df_merge[cols]
df_merge.rename(columns = {'GDP per capita, PPP (current international $)':'GDPCapita', 
                           'GNI per capita, PPP (current international $)':'GNICapita',
                           'Physicians (per 1,000 people)':'Physicians',
                           'Population, total':'Population',
                           'Suicide mortality rate (per 100,000 population)':'SuicideRate'}, inplace=True)
df_merge

,Year,CountryCode,CountryName,GDPCapita,GNICapita,Physicians,Population,SuicideRate,HDIRank,HDI
0,1990,AFG,Afghanistan,NaN,NaN,0.1090,12412311.0,NaN,169,0.302
1,1991,AFG,Afghanistan,NaN,NaN,NaN,13299016.0,NaN,169,0.307
2,1992,AFG,Afghanistan,NaN,NaN,NaN,14485543.0,NaN,169,0.316
3,1993,AFG,Afghanistan,NaN,NaN,0.1430,15816601.0,NaN,169,0.312
4,1994,AFG,Afghanistan,NaN,NaN,NaN,17075728.0,NaN,169,0.307
...,...,...,...,...,...,...,...,...,...,...
4762,2015,ZWE,Zimbabwe,2679.507615,2630.0,0.1815,13814642.0,18.0,150,0.553
4763,2016,ZWE,Zimbabwe,2806.469032,2750.0,0.1788,14030338.0,16.8,150,0.558
4764,2017,ZWE,Zimbabwe,3795.642431,3730.0,0.1859,14236599.0,15.0,150,0.563
4765,2018,ZWE,Zimbabwe,4017.221716,3950.0,0.2096,14438812.0,14.0,150,0.569
4766,2019,ZWE,Zimbabwe,3783.547898,3710.0,NaN,14645473.0,14.1,150,0.571

# Export data to Sql database

In [ ]:
## Add the code to create the connection to the PostgrSQL db

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/OlympicAnalysis_FP"
#Create the database engine
engine = create_engine(db_string) 
    
## Add movies_df to a SQL db
df_merge.to_sql(name = 'indicators', con = engine, if_exists = 'replace', index = False)